
.footer {
  width: 100%;
  color: white;
  background-color: black;
  height: 468px;

}
 .quote {
   float: right;
   width: 40%;
   h3 {
    margin-right: 50px;
    span {
    color: $siteBlue;
    }
   }
 }
